/* main text color #FFFFFF */

/* secondary text color  #212121*/

/* "WebStudio #2196F3, #000000" */
/* gray color #757575 */
/* footer transparent color #FFFFFF  60 %  */
/*  accent blue  #2196F3*/
:root {
  --primary-black-color: #212121;
  --secondary-black-color: #000000;
}
.logo-first,
.logo-second {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  /* margin: 0; */
  background-color: #fff;
  font-family: 'Comfortaa';
  /* color: var(--primary-black-color); */
}

/* logo sign */
.logo-first {
  color: #2196f3;
}

.logo-second {
  color: var(--secondary-black-color);
}

/* site-nav */
ul,
ol,
li,
.list {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.site-nav {
  line-height: 1.6;
  cursor: pointer;
  display: flex;
  margin-left: 100px;
}

.site-nav a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.site-nav a:hover,
.site-nav a:focus {
  color: #2196f3;
}

.site-nav a:visited {
  color: purple;
}

.site-nav a.current {
  color: #2196f3;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.main-nav {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  margin-bottom: 10px;
}
.logo-first:hover,
.logo-second:hover {
  color: green;
}

.section-title {
  color: var(--secondary-black-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

.hero-title {
  display: block;
  color: #ffffff;
  /* padding: 200px 452px 280p 452px; */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.hero {
  padding-top: 200px;
  margin-top: 0px;
  margin-bottom: 90px;
  width: 1600px;
  height: 600px;
  text-align: center;
  background: #2f303a;
  margin-left: auto;
  margin-right: auto;
}
/* Features */

.our-strength .feature-title {
  color: var(--primary-black-color);
}

.our-strength h2,
p,
section .our-team,
.title,
h2,
h3,
img,
figure,
ul,
li {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* .communication-nav .link {
  color: #757575;
} */
.communication-nav .button {
  margin-top: 3px;
}

.communication-nav {
  display: flex;
  margin-left: auto;
}
.our-team .title {
  color: var(--primary-black-color);
  font-weight: 700;
}

.our-team .description {
  color: #757575;
}
.hero-button {
  color: black;
}

.button:hover,
.button:focus {
  color: #f5f5f5;
  background-color: #2196f3;
}

.site-nav a:hover {
  color: teal;
}

.button {
  font-weight: 400;
  font-size: 15px;
  min-width: 200px;
  line-height: 1.2;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  text-align: center;
  border: 2px transparent;
}

.button.primary {
  background-color: #2196f3;
  color: #fff;
}
.portfolio-link-button{
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}

.portfolio-link,
.portfolio-link-button:hover{
  background-color: #2196f3;
  color: #f5f5f5;

}

.section .title,
.section .description {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section-title {
  text-align: center;
  margin-bottom: 50px;
}

.page-header {
  background-color: #fff;
  margin-top: 30px;
}

ul {
  padding-inline-start: 0px;
}

figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
  width: 1200px;
  display: flex;
}

.our-strength {
  display: flex;
}

.section-abilities {
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}



.what-we-can {
  display: flex;
  justify-content: center;
  margin-bottom: 190px;
}
.what-we-can .imgitem:not(:last-child) {
  margin-right: 30px;
}
.headsign {
  text-align: center;
  margin-bottom: 40px;
  /* padding-top: 100px; */
}

.section-out-tem {
  display: flex;
  flex-direction: column;
  background: #f5f4fa;
  padding: 100px 215px 94px 215px;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.our-team {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background: #f5f4fa;
  padding: 186px 215px 94px 215px;
  width: 1600px;
  margin-left: auto;
  margin-right: auto; */
}
.our-team .team:not(:last-child) {
  margin-right: 30px;
}

.basement {
  width: 1600px;
  height: 250px;
  color: #2f303a;
  /* outline: 2px solid tomato; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background: #2f303a;
  color: #f5f5f5;
}

.logo-basement-first {
  color: #f5f5f5;
  padding-top: 60px;
  display: inline-block;
  padding-left: 215px;
  font-family: sans-serif;
  padding-bottom: 30px;
}
.logo-basement-second {
  color: #2196f3;
}

.location .mail,
.location .phone {
  color: #2196f3;
}

.location {
  display: inline-block;
  padding-left: 215px;
}

.our-team img {
  border-radius: 10px;
}
.description {
  text-align: center;
}

.description h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.buttons{
  display: flex;

}
.buttons-section{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.buttons .btn:not(:last-child) {
  margin-right: 10px;
}

.projects-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.projects-list > .project {
  flex: 1 1 30%; /*grow | shrink | basis */

}
